<div class="card  d-flex flex-row align-items-center justify-content-center  overflow-scroll gap-4  " style="padding-left: 4rem; padding-right: 1rem; height: 7rem; width:30rem">
  <% (0..5).each do %>
    <%= render 'story/story' %>
  <% end %>
</div>