<div class="d-flex flex-column justify-content-center align-items-center hover-pointer hover-scale" >
  <%= image_tag "user-pp.png", class: "img-thumbnail rounded-circle border border-2 border-primary", style: "width: 3.5rem" %>
  <small style="max-width: 3.5rem;" class="text-truncate">Username</small>
</div>