<div class="d-flex justify-content-between my-2">
  <div class="d-flex hover-pointer" >
    <%= image_tag "user-pp.png", class: "img-thumbnail rounded-circle ", style: "width: 2.5rem;" %>
    <div class="d-flex flex-column mx-2">
      <small class="fw-bold text-truncate" style="max-width: 5rem;"><%=liker.username %></small>
    </div>
  </div>

  <%= link_to root_path, class: "btn btn-primary" ,style: "text-decoration: none;" do %>
    <small class="fw-bold text-primary text-white">Follow</small>
  <% end %>
</div>