<div class="d-flex justify-content-between">
  <div class="d-flex hover-pointer" >
    <%= image_tag "user-pp.png", class: "img-thumbnail rounded-circle ", style: "width: 2.5rem;" %>
    <div class="d-flex flex-column mx-2">
      <small class="fw-bold text-truncate" style="max-width: 5rem;">CoderOne</small>
      <small class="text-muted fs-7">Suggested for you</small>
    </div>
  </div>

  <%= link_to root_path, style: "text-decoration: none;" do %>
    <small class="fw-bold text-primary">Follow</small>
  <% end %>
</div>